@page
@model TicketingApp.Pages.Manage.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.created_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.created_at)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.tenant_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.tenant_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Event_Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Event_Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Event_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Event_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.venue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.venue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Event_Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Event_Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.NoofTickets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.NoofTickets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.createdby)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.createdby)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Venue_Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Venue_Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EventItem.EventID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
